<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.imin.adminweb.mapper.user.SysRoleResourceMapper">

    <insert id="batchInsert" parameterType="com.imin.adminweb.model.user.SysRoleResourceModel">
        insert into t_sys_role_resource(
        `role_id`,
        `resource_id`
        ) values
        <foreach collection="list" item="bean" separator=",">
            (
            #{bean.roleId,jdbcType=BIGINT},
            #{bean.resourceId,jdbcType=BIGINT}
            )
        </foreach>
    </insert>

</mapper>
