<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.imin.user.mapper.SysUserMapper">

    <select id="getByLoginAccount" resultType="com.imin.user.model.SysUserModel">
        select
            id,
            login_name as loginName,
            login_password as loginPassword,
            email,
            account,
            account_type as accountType,
            platform_type as platformType,
            first_login_flag as firstLoginFlag,
            data_status as dataStatus,
            create_time as createTime,
            update_time as updateTime
        from t_sys_user
        where data_status != 2
        and account = #{loginName}
    </select>

</mapper>